# Server Configuration
PORT=5001

# MongoDB Connection
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.<id>.mongodb.net/?retryWrites=true&w=majority

# Authentication
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d

# External APIs
API_KEY=your_gemini_api_key
